@import url('https://fonts.googleapis.com/css?family=Pacifico');
body {
    width: 80%;
    margin: 0 auto;
}
header h2 {
    font-family: 'Pacifico', cursive;
    margin: 0;
    font-size: 40px;
    font-style: italic;
}
header img {
    width: 4%;
    float: left;
    margin-right: 10px;
}
header span {
    float: left;
    width: 45%;
}
header ul {
    width: 50%;
    float: right;
}
header ul li {
    list-style: none;
    margin-right: 1px;
    float:right;
}
header ul li:nth-child(2) {
    margin-left: 5px;
}
header ul li img {
    width: 25px;
    height: 25px;
    margin-right: 2px;
}
header p {
    font-size: 0.7em;
    margin: 0;
    line-height: 1em;
    letter-spacing: 0.7px;
}
nav {
    height: 75px;
    padding:2em 0;
}

header div, main div:first-child div:last-child {
    width: 100%;
    height: 5px;
    background-image: url("assets/hr-img.png");
    background-size: contain;
    background-repeat: repeat-x;
}